<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-soft-img-pick" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>softImgPick</name>
    <js-module name="softImgPick" src="www/softImgPick.js">
        <clobbers target="cordova.plugins.softImgPick" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="softImgPick">
                <param name="android-package" value="com.soft.img.pick" />
            </feature>
        </config-file>
        <framework src="com.android.support:appcompat-v7:23+" />
        <framework src="com.android.support:recyclerview-v7:23.+" />
    
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/softImgPick.java" target-dir="src/com/soft/img/pick" />
        <!-- 库文件代码 -->
        <source-file src="src/android/library/src/AlbumAdapter.java" target-dir="src/com/soft/img/pick"/>
        <source-file src="src/android/library/src/ImagePickActivity.java" target-dir="src/com/soft/img/pick"/>
        <source-file src="src/android/library/src/ImagePickActivity.java" target-dir="src/com/soft/img/pick"/>
        <source-file src="src/android/library/src/ImagePickActivity.java" target-dir="src/com/soft/img/pick"/>
        <!-- res资源文件 -->
        <source-file src="src/android/library/res/album.png" target-dir="res/mipmap-xxhdpi"/>
        <source-file src="src/android/library/res/choose.png" target-dir="res/mipmap-xxhdpi"/>
        <source-file src="src/android/library/res/no.png" target-dir="res/mipmap-xxhdpi"/>


    </platform>
</plugin>